.new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin-top: 2em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 2em;
}

button {
  display: flex;
  justify-content: center;
  font-family: 'Bungee', cursive;
  background-color: #147457;
  color: lavender;
  margin-top: 1em;
}

output{
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-right: 0;
  font-family: 'Bungee', cursive;
}


textarea {
  overflow: auto;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 3.5px solid black;
  height: 40px;
  width: 100%;
  resize: none;
}

#tweet-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

label {
  display: flex;
  flex-direction: column;
}

/* id to update counter to red if below 0 */
#container2 {
  color: red;
}

 /* id to reset counter if above */
#container3 {
  color: #545149;
}

.error {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #fce4e46e;
  border: 3px solid #fcc2c3;
  border-radius: 5px;
  color: red;
  font-weight: 300;
  padding: 1em;
  margin: 1em;
  height: 2.5em;
  width: auto;
}

.error-img {
  height: 40px;
  width: 40px;
}